<%- include("partials/header") -%>
<body>
  <h1><%= postArrayTitle %></h1>
  <p><%= postArrayContent %></p>
</body>

<!--prettier-ignore-->
<%- include("partials/footer") -%>
<%- include("partials/header") -%>
<body>
  <h1><%= postArrayTitle %></h1>
  <p><%= postArrayContent %></p>
</body>

<!--prettier-ignore-->
<%- include("partials/footer") -%>
